ion-content .fundoCadastro {
    background-image: url('../../assets/imagem\ 5.png');
    padding-bottom: 200%;
}

.botaoCadastro {
    
    margin-top: 10%;
}
.tituloAdicionar {
    font-size: 10px;
    color: rgb(2, 116, 59);
    margin: 0;
    font-weight: bold;
    //text-transform: uppercase;
    ;
}