.campoTela2 {
    font-size: 13px;
}

.inputTela2 {
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
    padding: 0%;
    width: 100%;
}

.imgLogin {
    margin-top: 10%;
}

ion-content .fundoLogin {
    background-image: url('../../assets/imagem\ 5.png');
    padding-bottom: 200%;
}