/* .tituloTela {
    text-align: center;
} */
ion-content .fundoCadastroPet {
    background-image: url('../../assets/imagem\ 2.jpeg');
    padding-bottom: 2px;
}


.botaoCadastro {
    right: 20%;
    font-weight: 500;
    margin-top: 10%;
}