ion-buttons{
    width:50px;
    
}
.buttonc{
    background-color: #e6c63b;
    color: rgb(46, 44, 78);
}
.buttonb{
    background-color: #6db444;
    color: rgb(255, 255, 255);
}

.tituloAdicionar {
    font-size: 12px;
    margin: 30px;
    margin-top: 3%;
    margin-left: 400%;
   
}