<ion-content>

    <div >
      <ion-row>
            <div class="ion-padding">
                <h3 class="titulo">Bem vindo ao Petzonia!</h3>
              
            </div>
        
        </ion-row>

        <ion-row>
            <ion-button class="botaoComecar" color="secondary" (click)="abrirPagina('cadastro')">Cadastrar</ion-button>
            <ion-button class="botaoComecar" color="secondary" (click)="abrirPagina('login')">Entrar</ion-button>
        </ion-row>
    </div>

</ion-content>